<template>
    <div class="row jadval mb-5 mt-5 pb-5 pt-5 mb-sm-3 mx-3 mx-md-5 px-lg-5" style="min-height: 500px">
        <div v-if="isChange" class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <form>
                    <h2 class="mb-3 mt-3 mb-sm-4 fs-2">Change Order</h2>

                    <label class="form-label">Cargo Type</label>
                    <input v-model="cargoType" type="text" class="form-control mb-3">

                    <label class="form-label">Where from</label>
                    <input v-model="whereFrom" type="text" class="form-control mb-3">

                    <label class="form-label">Where to</label>
                    <input v-model="whereTo" type="text" class="form-control mb-3">

                    <label class="form-label">Status</label>
                    <input v-model="status" type="text" class="form-control mb-3">

                    <button @click="change" type="button" class="mt-4 btn btn-success">Change</button>
                </form>
            </div>
        </div>

        <table class="table w-100">
            <thead>
            <tr>
                <th scope="col-12">Qayerdan?</th>
                <th scope="col-12">Qayerga?</th>
                <th scope="col-12">Yuk turi</th>
                <th scope="col-12">Xolat</th>
                <th scope="col-12">Joylangan</th>
                <th scope="col-12">Change</th>
                <th scope="col-12">Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--Buyurtma qatori boshlandi-->
            <tr
                    v-for="order in getOrders"
                    :key="order.id"
                    class="active-row">

                <td class="pt-2 pt-sm-5">{{ order.whereFrom }}</td>
                <td class="pt-2 pt-sm-5">{{ order.whereTo }}</td>
                <td class="pt-2 pt-sm-5">{{ order.cargoType }}</td>
                <td class="holat pt-2 pt-sm-5"><span>{{ order.status }}</span></td>
                <td class="pt-2 pt-sm-5">Toshkent</td>
                <td class="pt-2 pt-sm-5">
                    <span @click="isChange = true; orderId = order.id" class="table-item">Change</span>
                </td>
                <td class="pt-2 pt-sm-5">
                    <span @click="remove(order.id)" class="table-item2">Delete</span>
                </td>
            </tr>
            <!--Buyurtma qatori tuagdi-->

            </tbody>
        </table>
    </div>

</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
    name: "EditOrder",
    data() {
        return {
            cargoType: '',
            whereFrom: '',
            whereTo: '',
            status: '',
            isChange: false,
            orderId: null,
        }
    },
    methods: {
        ...mapActions(['fetchOrders', 'putOrder', 'deleteOrder']),
        remove(id) {
            this.deleteOrder(id)
                .then(() => {
                    this.fetchOrders()
                })
        },
        change() {
            this.putOrder({
                id: this.orderId,
                cargoType: this.cargoType,
                whereFrom: this.whereFrom,
                whereTo: this.whereTo,
                status: this.status
            })
                .then(() => {
                    location.reload()
                })
        }
    },
    computed: {
        ...mapGetters(['getOrders'])
    },
    mounted() {
        this.fetchOrders()
            .then(() => {
                console.log('this getter', this.getOrders)
            })
    },
}
</script>

<style scoped>
.table-item {
    cursor: pointer;
    color: green;
}

.table-item2 {
    cursor: pointer;
    color: red;
}

.table-buyurtmalar thead th {
    padding-bottom: 30px;
}

.table-buyurtmalar th, td {
    text-align: center;
    color: #1a202b;
}

.table-buyurtmalar tr {
    height: 7.2em;
    justify-content: center;
    align-items: center;
}

.table-buyurtmalar tbody tr.active-row {
    background-color: rgba(71, 121, 204, 0.03);
}

.table-buyurtmalar .holat span {
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #D9FBD6;
    color: #25BA00;
}

.table-buyurtmalar .holat2 span {
    border-radius: 30px;
    padding: 10px 45px;
    background-color: #FFF5EB;
    color: #FB7E15;
}

.kuryer-link a {
    color: #316FC3;
}

@media all and (max-width:500px) {
    .table-buyurtmalar .table {
        width: 200px;
    }

    .table-buyurtmalar thead th {
        padding: 10px 5px;
        font-size: 8px;
    }

    .table-buyurtmalar tbody td {
        padding: 0;
        font-size: 8px;

    }

    .table-buyurtmalar tr {
        height: 2em;
    }

    .table-buyurtmalar .holat span {
        padding: 5px 10px;
        margin: 0 5px;
    }

    .table-buyurtmalar .holat2 span {
        padding: 5px 22px;
    }
}
</style>