<template>
    <!-- container -->
    <div class="container-fluid text-start">
        <router-link to="/">
            <font-awesome-icon
                class=" mt-3 ms-1 mt-md-4 ms-md-4"
                icon="fa-solid fa-circle-arrow-left"
                beat size="2xl"
                style="color: #5cb30b;"/>
        </router-link>
        <div class="row justify-content-center text-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xxl-4 p-0 mt-5">

                <div class="col-12 w-75 m-auto">
                    <img alt="userImage" class="m-4 w-25 rounded-circle" src="../../images/user.png"/> <br>
                </div>

                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-4">Shaxsiy ma'lumotlarni o'zgartirish</h4>
                            <form>
                                <div class="d-grid mt-3">
                                    <label class="form-label" for="inputBorder"></label>
                                    <input
                                        v-model="customer.givenName"
                                        id="inputBorder"
                                        class="form-control border-2"
                                        name="name"
                                        :placeholder="customer.givenName"
                                        type="text"
                                    />
                                </div>
                                <div class="d-grid mt-3">
                                    <label class="form-label" for="inputBorder1"></label>
                                    <input
                                        v-model="customer.familyName"
                                        id="inputBorder1"
                                        class="form-control border-2"
                                        name="surName"
                                        :placeholder="customer.familyName"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-3">
                                    <label class="form-label" for="inputBorder3"></label>
                                    <input
                                        v-model="customer.phone"
                                        id="inputBorder3"
                                        class="form-control border-2"
                                        name="phoneNumber"
                                        :placeholder="customer.phone"
                                        type="text"
                                    >
                                </div>

                                <div class="col-12 d-grid mt-5">
                                    <button
                                        @click="change"
                                        class="button text-white py-2 py-md-3 fs-4"
                                        type="button">
                                        Saqlash
                                    </button>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger py-2 py-md-3 fs-5 mt-4"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Profilni o'chirish
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content justify-content-center">
                                                <div class="modal-body">
                                                    Profilingizni o'chirib yubormoqchimisiz?
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Yo'q
                                                    </button>
                                                    <button type="button" @click="remove(customer.id)"
                                                            class="btn btn-danger">Xa
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "EditCustomer",
    data() {
        return {
            userId: null,
            customer: {
                givenName: '',
                familyName: '',
                phone: '',
                id: null,
            }
        }
    },

    methods: {
        ...mapActions(['AboutMe', 'putCustomer', 'deleteCustomer', 'deleteUser']),
        remove(id) {
            this.deleteCustomer(id)

                .then(() => {
                    this.deleteUser(this.userId)
                })

                .then(() => {
                    this.$router.push('/sign-in')
                })
        },

        change() {
            let data = {
                givenName: this.customer.givenName,
                familyName: this.customer.familyName,
                phone: this.customer.phone,
                id: this.customer.id
            }

            if (this.customer.givenName !== this.getAboutMe.givenName ||
                this.customer.familyName !== this.getAboutMe.familyName ||
                this.customer.phone !== this.getAboutMe.phone)
            {
                this.putCustomer(data)
                    .then(() => {
                        location.reload()
                    })
            }

        }
    },

    computed: {
        ...mapGetters(['getAboutMe'])
    },

    mounted() {
        this.AboutMe()
            .then(() => {
                this.customer.givenName = this.getAboutMe.givenName
                this.customer.familyName = this.getAboutMe.familyName
                this.customer.phone = this.getAboutMe.phone
                this.customer.id = this.getAboutMe.id
                this.userId = this.getAboutMe.userId
            })
    },

}

</script>

<style scoped>
img {
    background-repeat: no-repeat;
    background-color: white;
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}

#inputBorder, #inputBorder1, #inputBorder3 {
    border-radius: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #9FA2A6F9;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
}

.button {
    background-color: #5CB30B;
    border-radius: 11px;
    border: none;
    font-family: Inter, sans-serif;
    line-height: 22px;
    text-align: center;
}

.btn {
    border-radius: 11px;
    border: none;
    font-family: Inter, sans-serif;
    line-height: 22px;
    text-align: center;
}

.modal-content {
    border-radius: 15px 15px;
}

.modal-dialog {
    margin-top: 340px;
}

</style>
