<template>
    <div v-if="fullPage">
        <!-- main qatori boshlandi-->
        <div id="main" class="row px-4 px-md-5">
            <!-- Paragraf qismi boshlandi -->
            <div id="main-paragraph" class="col-sm-11 col-md-5 mb-4 order-2 order-md-1 d-flex align-items-center">
                <div class="courier-paragraph ms-md-4">
                    <h2>Kuryerlarni Yollang</h2>
                    <p class="paragraph">
                        Simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the
                        1500s, Simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since
                        the 1500s, Simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <button class="about-btn py-1 px-4" type="button" @click="$event=>fullPage = false"
                            :class="!fullPage">Batafsil
                    </button>
                </div>
            </div>
            <!-- Paragraf qismi tugadi -->

            <!-- Rasm boshlandi-->
            <div id="main-image"
                 class="col-sm-12 col-md-7 my-4 mt-lg-5 text-center text-lg-end order-1 order-md-2">
                <section id="img">
                    <img alt="" class="main-img w-75 me-lg-5" src="../images/img.png"/>
                </section>
            </div>
            <!-- Rasm tugadi-->
        </div>

        <!-- Qidiruv qatori boshlandi -->
        <section id="search-class">
            <div class="col-md-12 search-table pe-md-3 pe-lg-0 ps-sm-4 ps-lg-5 pb-3">
                <h3 class="my-4 ps-1 ps-lg-0 ms-1 ms-sm-0" id="h3">Xususiyatiga qarab izlash</h3>
                <div class="d-md-flex flex-wrap">
                    <div class="col-12 col-sm-11 col-md-5 col-lg-3 px-2 px-sm-0 me-3 me-lg-4 me-xl-5">
                        <input
                            v-model="couriers.givenName"
                            aria-label="Search"
                            class="name form-control w-100 opacity-75"
                            placeholder="Ism"
                            type="search"/>
                    </div>
                    <div class="col-12  col-sm-11 col-md-5 col-lg-3 px-2 px-sm-0 ms-md-5 ms-lg-0 me-3 me-lg-4 me-xl-5">
                        <input
                            v-model="couriers.familyName"
                            aria-label="Search"
                            class="surname form-control w-100 opacity-75"
                            placeholder="Familiya"
                            type="search"/>
                    </div>
                    <div class="col-12 col-sm-11 col-md-5 col-lg-3 px-2 px-sm-0 me-3 me-lg-0">
                        <input
                            v-model="couriers.transport.type"
                            aria-label="Search"
                            class="vehicle-type form-control w-100 opacity-75"
                            placeholder="Transport turi"
                            type="search"/>
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-2 col-xl-2 text-lg-end text-xl-center ms-2 ms-sm-0 ms-lg-4 ms-xl-0">
                        <button @click="filterCourier " class="btn btn-primary rounded-circle px-3 px-md-4" type="submit">
                            <div v-if="loadingCourier" class="spinner-border spinner-border-sm"></div>
                            <span v-if="loadingCourier" class="px-1">{{ $t('searching') }}</span>
                            <span v-else>{{ $t('search') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Qidiruv qatori tugadi -->
        <div class="row jadval mb-5 mx-2 mx-md-5 px-lg-5">
            <div class="col p-0 mx-lg-5">
                <h4 class="text-center mt-5 pb-2">Kuryerlar</h4>
                <div class="table-kuryer">
                    <!--Users table boshlandi-->
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col-12"></th>
                            <th scope="col-12">Ism familiyasi</th>
                            <th scope="col-12">Transport</th>
                            <th scope="col-12">Reyting</th>
                            <th scope="col-12">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--User qatori boshlandi-->
                        <tr
                            v-for="courier in getCouriers"
                            :key="courier.id"
                            class="greenRow"
                        >
                            <th scope="row" class="pt-3 px-0"><img src="@/images/Ellipse.png" alt="user"></th>
                            <td class="pt-3 pt-sm-4 p-0">{{ courier.givenName }} {{ courier.familyName }}</td>
                            <td class="pt-3 pt-sm-4 p-0">{{ courier.transport.type }}</td>
                            <td class="pt-3 pt-sm-4 p-0">0</td>
                            <td class="table-status pt-3 pt-sm-4 p-0">Bo'sh</td>
                        </tr>
                        <!--User qatori tugadi-->

                        </tbody>
                    </table>
                    <!--Users table tugadi-->

                    <div class="row mt-md-3">
                        <div class="col kuryer-link d-flex justify-content-end">
                            <router-link to="/courier"
                                         class="my-3 my-sm-4 mx-4 mx-sm-5 fs-5 fw-bolder text-decoration-none">
                                Ko'proq...
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div v-else @submit.prevent="batafsil">
        <div class="row jadval my-3 mb-sm-5">
            <div class="col-md-9 mx-md-auto batafsilPage py-4 px-5">
                <div id="main-image-batafsil" class="col-sm-12 col-md-12 col-lg-7 px-md-5">
                    <section id="img" class="mx-sm-5">
                        <img src="../images/img.png" class="main-img-batafsil mt-4" alt=""/>
                    </section>
                </div>
                <h2>Kuryerlarni yollash haqida batafsil ma'lumotlar</h2>
                <p class="matnBatafsil fs-6 mt-4">
                    Simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the
                    1500s, Simply dummy text of the printing and typesetting industry.<br/><br/>
                    Lorem Ipsum has been the industry's standard dummy text ever since
                    the 1500s, Simply dummy text of the printing and typesetting
                    industry.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, dolore sit, corrupti aut sed sint
                    ad beatae consequatur nihil accusamus ducimus illo consequuntur nostrum ab neque vitae ut natus
                    necessitatibus iste quia voluptates porro ea. Possimus dolores enim quibusdam voluptatum?<br/><br/>
                    Ipsum has been the industry's standard dummy text ever since the
                    700s, Simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Deleniti nobis qui quis laboriosam neque amet libero reiciendis sit,
                    quaerat consectetur placeat officia eligendi quasi iusto pariatur magnam veritatis. Et nulla
                    incidunt inventore sed nostrum sapiente veniam sint, recusandae, iste non temporibus. Sunt explicabo
                    odit voluptates vel consectetur ab ipsa corporis exercitationem eligendi aut eum recusandae sit,
                    necessitatibus quaerat autem totam?
                </p>
                <button class="about-btn py-1 px-4" type="button" @click="$event=>fullPage=true" :class="fullPage">
                    Back
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "CouriersPage",
    data() {
        return {
            loadingCourier: false,
            batafsil: false,
            fullPage: true,
            couriers: {
                givenName: '',
                familyName: '',
                transport: {
                    type: ''
                }
            },
        }
    },
    computed: {
        ...mapGetters(['getCouriers']),
    },
    methods: {
        ...mapActions(['fetchCouriers']),

        filterCourier() {
            this.loadingCourier = !false
            setTimeout(() => {
                this.loadingCourier = !true
            }, 2000)
            if (this.couriers.givenName) {
                this.fetchCouriers('givenName=' + this.couriers.givenName)
            }
            if (this.couriers.familyName) {
                this.fetchCouriers('&familyName=' + this.couriers.familyName)
            }
            if (this.couriers.transport.type) {
                this.fetchCouriers('&transport.type=' + this.couriers.transport.type)
            }
        },
    },
    mounted() {
        this.fetchCouriers()
    },
}

</script>

<style scoped>
/* Main Body */
#main {
    background-color: rgba(221, 219, 219, 0.132);
}

h2 {
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.paragraph {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.matnBatafsil {
    word-spacing: 5px;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-size: 1.2em;
}

#main-image-batafsil {
    margin: 0 auto;
    width: 60%;
    height: auto;
    display: flex;
}

.main-img-batafsil {
    margin: 20% 0 10% 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
}

.about-btn {
    background: #5cb30b;
    border-radius: 8px;
    color: white;
    border: solid #5cb30b;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}

.courier-paragraph h2 {
    font-weight: 500;
}

.search-table {
    box-shadow: 0 8px 14px rgba(206, 206, 206, 0.2);
}

/* Xususiyatga qarab izlash */
.name {
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

.surname {
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

.vehicle-type {
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

#search {
    height: 39px;
    border-radius: 8px;
    width: 120px;
    background: #316fc3;
    margin-right: 1%;
    margin-left: 1%;
}

#h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.table-kuryer, .batafsilPage {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 25px rgb(229, 227, 227);
    border-radius: 15px;
    border: none;
}

.table-kuryer tr {
    height: 5em;
    border: 6px solid white;
}

.table-borderless {
    width: 90%;
    margin: 0 auto;
}

.jadval h3 {
    margin: 60px 0 20px;
    text-align: center;
}

.table-kuryer thead th {
    padding-bottom: 30px;
}

.table-kuryer th, td {
    text-align: center;
}

.table-kuryer .greenRow {
    background-color: rgb(241, 252, 231);
    border-radius: 40px;
}

.table-status {
    color: #25BA00;
}

.table-status2 {
    color: #FC2B38;
}

.kuryer-link a {
    color: #316FC3;
}

.table-kuryer td:first-child,
.table-kuryer th:first-child {
    border-radius: 34px 0 0 34px;
}

.table-kuryer td:last-child,
.table-kuryer th:last-child {
    border-radius: 0 34px 34px 0;
}

@media all and (max-width: 710px) {
    .table th, td {
        font-size: 12px;
    }

    .table-kuryer tr {
        height: 4rem;
        border: 4px solid white;
    }

    #main-image-batafsil {
        width: 80%;
    }
}

@media all and (max-width: 500px) {
    .table-kuryer thead th {
        padding-bottom: 10px;
    }

    .table th, td {
        font-size: 10px;
    }

    .table tr {
        height: 2rem;
        border: 3px solid white;
    }

    tbody img {
        height: 35px;
        width: 35px;
        padding: 0 0 10px 10px;
    }
}

</style>