<template>
    <!-- Buyurtmalar started -->
    <div class="row buyurtmalar mt-3 mx-1 m-sm-5">
        <div class="col col-12 col-lg-7">
            <h2 class="mb-3 mt-3 mb-sm-4 fs-2">Buyurtma joylash</h2>
            <form>
                <label class="labelForm ms-sm-4 ms-lg-0" for="title">Buyurtma sarlavhasi</label><br>
                <input id="title" v-model="registration.title" class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="title"
                       placeholder="Yengil mashina kerak" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="cargoType">Yuk turi</label><br>
                <input id="cargoType" v-model="registration.cargoType"
                       class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="cargoType" placeholder="Televizor" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="weight">Og'irligi</label><br>
                <input id="weight" v-model="registration.weight"
                       class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="weight"
                       placeholder="Kg larda yozing" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="size">Hajmi</label><br>
                <input id="size" v-model="registration.size" class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="size"
                       placeholder="1m x 2m" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="whereFrom">Qayerdan?</label><br>
                <input id="whereFrom" v-model="registration.whereFrom"
                       class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="whereFrom" placeholder="Toshkent" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="whereTo">Qayerga?</label><br>
                <input id="whereTo" v-model="registration.whereTo"
                       class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="whereTo"
                       placeholder="Andijon" type="text"><br>

                <label class="labelForm ms-sm-4 ms-lg-0" for="untilWhen">Qachongacha?</label><br>
                <input id="untilWhen" v-model="registration.untilWhen"
                       class="inputForm ms-sm-4 ms-lg-0 mb-2 mb-sm-5 opacity-75"
                       name="untilWhen" placeholder="Oxirgi muddat" type="text"><br>

            </form>
        </div>

        <div class="col col-12 col-lg-5 p-0">
            <div class="right">
                <h3 class="mb-2 ms-3 mt-3 mt-lg-5 ">Foydalanish shartlari</h3>
                <p class="ps-3 pe-4 pb-3 m-0">Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been
                    the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    Simply dummy text of the printing and typesetting industry. Simply dummy text of the printing and
                    typesetting industry. Simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    Simply dummy text of the printing and typesetting industry. Simply dummy text of the printing and
                    typesetting industry. Simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    Simply dummy text of the printing and typesetting industry. Simply dummy text of the printing and
                    typesetting industry. Simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, Simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    Simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>

    <div class="row mb-5  m-3 m-sm-5 text-center text-md-start">
        <div class="col-12 col-md-7 px-0 order-2 order-md-1 ps-sm-4 ps-lg-3 mt-3 mt-sm-4">
            <button class="joylash" type="button" @click="signUp">Joylash</button>
        </div>
        <div class="col-12 col-md-5 order-1 order-md-2 my-4 mt-3 mt-sm-4 text-md-center">
            <span class="foydalanishSharti">Platformaga kirish orqalik siz <a href="#">foydalanish shartlari</a>ga rozilik berasiz</span>
        </div>
    </div>
    <!-- Buyurtmalar qatori tugadi -->

</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "CreateOrder",

    data() {
        return {
            registration: {
                title: '',
                cargoType: '',
                weight: null,
                size: '',
                whereFrom: '',
                whereTo: '',
                untilWhen: '',
                status: 1,
                user: '',

            }
        }
    },
    methods: {
        ...mapActions(['createOrder', 'fetchToken']),
        signUp() {

            let data = {
                title: this.registration.title,
                cargoType: this.registration.cargoType,
                size: this.registration.size,
                weight: this.registration.weight,
                whereFrom: this.registration.whereFrom,
                whereTo: this.registration.whereTo,
                untilWhen: this.registration.untilWhen,
                status: this.registration.status,
                user: this.registration.user.id,
            }

            this.createOrder(data)
                .then(() => {
                    console.log('Order Created')
                })
                .then(() => {
                    this.$router.push('/')
                })
        }
    }
}
</script>

<style scoped>
/* Buyurtmalar html boshlandi */
.buyurtmalar h2 {
    font-weight: 400;
    font-size: 50px;
}

.labelForm {
    font-size: 1.1rem;
    cursor: pointer;
}

.inputForm {
    border-radius: 10px;
    border: 2px solid #BEBEBE;
    width: 90%;
    height: 50px;
    padding: 15px 30px;
    margin-top: 4px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

.buyurtmalar .right {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}


.buyurtmalar .right h3 {
    font-family: Inter, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0;
    text-align: left;

}

.buyurtmalar .right p {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0;
    color: #595959;
    text-align: justify;

}

.joylash {
    width: 88%;
    background-color: #fff;
    border: 2px solid #5CB30BFF;
    padding: 15px 0;
    border-radius: 10px;
    color: #5cb30b;
    font-size: 1.4rem;
    font-weight: 400;
}

.joylash:hover {
    border: none;
    color: #fff;
    background-color: #5cb30b;
}

.foydalanishSharti {
    word-spacing: 4px;
    line-height: 35px;
    color: #595959;
    font-weight: 200;
    font-size: 1.2em;
}

@media all and (max-width: 500px) {
    .buyurtmalar h2 {
        font-size: 25px;
    }

    .labelForm {
        font-size: 0.9em;
    }

    .inputForm {
        width: 100%;
        height: 30px;
        padding: 10px 20px;
        font-size: 14px;
    }

    .buyurtmalar .right h3 {
        word-spacing: 2px;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .buyurtmalar .right p {
        font-size: 15px;
        word-spacing: 2px;
        line-height: 20px;
        letter-spacing: 0;
    }

    .joylash {
        width: 100%;
        padding: 8px;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .foydalanishSharti {
        word-spacing: 2px;
        line-height: 20px;
        font-weight: 200;
        font-size: 0.9em;
    }
}

/* Buyurtmalar html tugadi */

</style>