<template>
    <CaruselMain/>

    <TableCourierHome/>

    <TableOrderHome/>

    <InPlatform/>

    <OurCouriers/>
</template>

<script>
import CaruselMain from '@/components/CaruselMain.vue'
import InPlatform from '@/components/InPlatform.vue'
import OurCouriers from '@/components/OurCouriers.vue';
import TableCourierHome from "@/components/TableCourierHome.vue";
import TableOrderHome from "@/components/TableOrderHome.vue";

export default {
    name: "HomePage",
    components: {
        TableOrderHome,
        TableCourierHome,
        CaruselMain,
        InPlatform,
        OurCouriers,
    }
}

</script>

<style scoped>

</style>