<template>
    <div class="row my-5 justify-content-center">
        <div class=" col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 ">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img alt="icon" class="w-25" src="@/images/logo.png"/> <br>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="kirish mt-5 mb-2">Kirish</div>
                </div>
            </div>

            <div class="row box p-4">
                <div class="col">
                    <form>
                        <div class="d-grid mt-3">
                            <label class="form-label" for="borderInput"></label>
                            <input
                                id="borderInput"
                                aria-describedby="emailHelp"
                                class="form-control border-2 py-2 $gray-300"
                                name="email"
                                v-model="authorization.email"
                                placeholder="Emailingizni kiriting"
                                type="email">
                            <div id="emailHelp" class="form-text"></div>
                        </div>

                        <div class="d-grid gap-2">
                            <label class="form-label" for="borderInput1"></label>
                            <input
                                v-model="authorization.password"
                                id="borderInput1"
                                autocomplete="on"
                                class="form-control border-2 py-2 "
                                name="password"
                                placeholder="Parol"
                                type="password">
                        </div>

                        <div class="oferta col-12 mt-5 text-center">Platformaga kirish orqali siz
                            <a class="text-decoration-none" href="#">foydalanish shartlari</a>
                            ga rozilik berasiz
                        </div>

                        <!--                        <div v-if="isError" class="alert alert-danger text-center mt-3" role="alert">-->
                        <!--                            <font-awesome-icon class="me-2" icon="fa-solid fa-circle-exclamation" size="xl" shake/>-->
                        <!--                            Noto'g'ri malumot kiritildi!-->
                        <!--                        </div>-->

                        <div class="d-grid mt-4">
                            <button class="button text-white py-1 py-md-2 fs-5" @click="signIn" type="button">Kirish
                            </button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center px-3 px-sm-0">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 px-1">
            <div class="content pt-1  mb-4 px-2  fw-light"> Platformada yangimisiz</div>
            <div class="col-12 d-grid ">
                <router-link class="button2 py-1 py-md-2 fs-5 fw-normal" to="/sign-up-customer">Ro'yxatdan o'tish
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "LoginPage",
    data() {
        return {
            authorization: {
                email: '',
                password: '',
            }
        }
    },
    methods: {
        ...mapActions(['fetchToken']),
        signIn() {
            this.fetchToken(this.authorization)
                .then(() => {
                    this.$router.push('/')
                })
        }
    }
}

</script>

<style scoped>
.box {
    background-color: rgb(255, 255, 255);
    /* box-shadow: 3px 5px 15px rgb(236, 233, 233); */
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}

img {
    background-repeat: no-repeat;
}

#borderInput, #borderInput1 {
    border-radius: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #9FA2A6F9;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
}

.button {
    background-color: #5CB30B;
    border-radius: 11px;
    border: none;
    font-family: Inter, sans-serif;
}

.button:hover {
    background-color: #59ad0a;
}

button:focus:not(:focus-visible) {
    border-color: #146c43;
    box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, .5);
}

.oferta {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

.kirish {
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.content {
    display: table;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    line-height: 22px;
    color: #595959;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.content:before, .content:after {
    border-top: 1px solid #595959;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 40%;
}

.content:before {
    right: 1%;
}

.content:after {
    left: 1%;
}

.button2 {
    text-decoration: none;
    background-color: white;
    border: #5CB30B;
    color: #5CB30B;
    border: 2px solid;
    border-radius: 11px;
    font-family: Inter, sans-serif;
    text-align: center;
}

.button2:hover {
    background-color: #5CB30B;
    color: white;
}

</style>