<template>
    <div v-if="fullPageOrders">
        <!-- main qatori boshlandi-->
        <div class="row px-2 px-md-5 bg-light" id="main">
            <!-- Paragraf qismi boshlandi -->
            <div id="main-paragraph" class="col-sm-11 col-md-12 col-lg-5 mb-4">
                <div class="courier-paragraph">
                    <h2>Buyurtmalar bo'limi</h2>
                    <p class="paragraph">
                        Simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the
                        1500s, Simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since
                        the 1500s, Simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <button type="button" class="about-btn px-4 py-2 me-4 mb-2" @click="$event =>fullPageOrders = false"
                            :class="!fullPageOrders">Batafsil
                    </button>
                    <router-link class="orderBtn d-inline-block px-4 py-2 mb-2" to="/order">Buyurtma joylash
                    </router-link>
                </div>
            </div>
            <!-- Paragraf qismi tugadi -->

            <!-- Rasm boshlandi-->
            <div id="main-image" class="col-sm-12 col-md-12 col-lg-7 px-5 mt-4">
                <section id="img">
                    <img src="../images/OBJECTS.svg" class="main-img" alt=""/>
                </section>
            </div>
            <!-- Rasm tugadi-->
        </div>

        <!-- Qidiruv qatori boshlandi -->
        <section class=" mb-5 pb-2" id="search-class">
            <div class="row ms-sm-2 ms-lg-3 ms-xl-3">
                <h3 id="h3" class="ms-1 ms-lg-4 my-4">Buyurtmalarni qidirish</h3>
                <div class="d-lg-flex d-md-flex flex-wrap">
                    <div class="col-12 col-sm-11 col-md-5 col-xl-2 me-5 ms-lg-3 px-1">
                        <input v-model="orders.cargoType" class="cargo-type form-control w-100" type="search"
                               placeholder="Yuk turi"
                               aria-label="Search">
                    </div>
                    <div class="col-12 col-sm-11 col-md-5 col-xl-2 me-5 px-1 ms-md-3 ">
                        <input v-model="orders.whereFrom" class="cargo-address form-control w-100" type="search"
                               placeholder="Yuk manzili"
                               aria-label="Search"/>
                    </div>
                    <div class="col-12 col-sm-11 col-md-5 col-xl-2 me-5 px-1 ms-lg-3">
                        <input v-model="orders.whereTo" class="cargo-delivery-address form-control w-100" type="search"
                               placeholder="Yuk boradigan manzil" aria-label="Search"/>
                    </div>
                    <div class="col-12 col-sm-11 col-md-5 col-xl-2 px-1 ms-md-3">
                        <input v-model="orders.weight" class="cargo-weight form-control w-100" type="search"
                               placeholder="Og'irlik"
                               aria-label="Search"/>
                    </div>
                    <div class="col-12 col-xl-2 text-xl-end pe-5 ms-1 ms-sm-2 ms-lg-4 ms-xl-3">
                        <button @click="filterOrder" type="submit" class="btn btn-primary rounded-circle px-4">
                            <div v-if="loading" class="spinner-border spinner-border-sm"></div>
                            <span v-if="loading" class="px-1">{{ $t('searching') }}</span>
                            <span v-else>{{ $t('search') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Qidiruv qatori tugadi -->

        <TableOrder/>

        <!-- Pagination Started -->
        <!-- Pagination Ended -->

        <!-- Kuryer xizmati haqida boshlandi-->
        <div class="col" id="courier-service">
            <div class="">
                <h2>Kuryerlik xizmati haqida qisqacha</h2>
                <p class="service-paragraph">
                    Simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the
                    1500s, Simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since
                    the 1500s, Simply dummy text of the printing and typesetting
                    industry. Simply dummy text of the printing and typesetting
                    industry.
                </p>
            </div>
        </div>
        <!-- Kuryer xizmati haqida tugadi -->
    </div>

    <div v-else @submit.prevent="batafsilOrders">
        <div class="row jadval my-3 mb-sm-5">
            <div class="col-md-9 mx-md-auto batafsilPageOrders pb-4 px-5">
                <div id="main-image-batafsil" class="col-sm-12 col-md-12 col-lg-7 px-md-5">
                    <section id="img" class="mx-sm-5">
                        <img src="../images/OBJECTS.svg" class="main-img mt-4" alt=""/>
                    </section>
                </div>

                <h2>Buyurtmalar bo'limi haqida batafsil ma'lumot</h2>
                <p class="matnBatafsil2 fs-6 mt-4">
                    Simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the
                    1500s, Simply dummy text of the printing and typesetting industry.<br/><br/>
                    Lorem Ipsum has been the industry's standard dummy text ever since
                    the 1500s, Simply dummy text of the printing and typesetting
                    industry.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, dolore sit, corrupti aut sed sint
                    ad beatae consequatur nihil accusamus ducimus illo consequuntur nostrum ab neque vitae ut natus
                    necessitatibus iste quia voluptates porro ea. Possimus dolores enim quibusdam voluptatum?<br/><br/>
                    Ipsum has been the industry's standard dummy text ever since the
                    700s, Simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Deleniti nobis qui quis laboriosam neque amet libero reiciendis sit,
                    quaerat consectetur placeat officia eligendi quasi iusto pariatur magnam veritatis. Et nulla
                    incidunt inventore sed nostrum sapiente veniam sint, recusandae, iste non temporibus. Sunt explicabo
                    odit voluptates vel consectetur ab ipsa corporis exercitationem eligendi aut eum recusandae sit,
                    necessitatibus quaerat autem totam?
                </p>
                <button class="about-btn py-1 px-4" type="button" @click="$event=>fullPageOrders=true"
                        :class="fullPageOrders">Back
                </button>
            </div>
        </div>
    </div>

</template>

<script>
import {mapActions, mapGetters} from "vuex";
import TableOrder from "@/components/TableOrder.vue";

export default {
    name: "OrdersPage",
    components: {TableOrder},
    data() {
        return {
            loading: false,
            orders: {
                cargoType: '',
                weight: '',
                whereFrom: '',
                whereTo: '',
            },
            batafsilOrders: false,
            fullPageOrders: true,
        }
    },
    computed: {
        ...mapGetters(['getOrders']),
    },
    methods: {
        ...mapActions(['fetchOrders']),

        filterOrder() {
            this.loading = !false
            setTimeout(() => {
                this.loading = !true
            }, 2000)
            if (this.orders.cargoType) {
                this.fetchOrders('cargoType=' + this.orders.cargoType)
            }
            if (this.orders.whereFrom) {
                this.fetchOrders('&whereFrom=' + this.orders.whereFrom)
            }
            if (this.orders.whereTo) {
                this.fetchOrders('&whereTo=' + this.orders.whereTo)
            }
            if (this.orders.weight) {
                this.fetchOrders('&weight=' + this.orders.weight)
            }
        }
    },

    mounted() {
        this.fetchOrders()
            .then(() => {
                console.log('this getter', this.getOrders)
            })
    },
}

</script>

<style scoped>
.table-buyurtmalar {
    border-radius: 15px;
}

.table-buyurtmalar thead th {
    padding-bottom: 30px;
}

.table-buyurtmalar th, td {
    text-align: center;
    color: #1a202b;
}

.table-buyurtmalar tr {
    height: 7.2em;
    justify-content: center;
    align-items: center;
}

.table-buyurtmalar tbody tr.active-row {
    background-color: rgba(71, 121, 204, 0.03);
}

.table-buyurtmalar .holat span {
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #D9FBD6;
    color: #25BA00;
}

.table-buyurtmalar .holat2 span {
    border-radius: 30px;
    padding: 10px 45px;
    background-color: #FFF5EB;
    color: #FB7E15;
}

.kuryer-link {
    display: flex;
    justify-content: flex-end;
}

.kuryer-link a {
    color: #316FC3;
}

.batafsilPageOrders {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 25px rgb(229, 227, 227);
    border-radius: 15px;
    border: none;
}

.matnBatafsil2 {
    word-spacing: 5px;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-size: 1.2em;
}

#main-image-batafsil {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
}

/* Main Body */
#main {
    background-color: rgba(221, 219, 219, 0.132);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: fit-content;
    width: 104%;
}

.main-img {
    margin: 20% 0 10% 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
}

.courier-paragraph {
    border-radius: 0;
    padding: 34% 10px 60px 30px;
}

.paragraph {
    height: auto;
    font-style: normal;
    font-weight: 390;
    font-size: 15px;
    line-height: 200%;
    color: #1c1c1c;
    margin-top: 30px;
}

.about-btn {
    background: #5cb30b;
    border-radius: 8px;
    color: white;
    border: solid #5cb30b;
}

.orderBtn {
    border-radius: 8px;
    color: white;
    border: solid #316fc3;
    background: #316fc3;
    text-decoration: none;
}

.courier-paragraph h2 {
    font-weight: 500;
}

/* Xususiyatga qarab izlash */

#search-class {
    box-shadow: 0 8px 14px rgba(206, 206, 206, 0.2);
}

.cargo-type {
     height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

.cargo-address {
     height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

.cargo-delivery-address {
     height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

.cargo-weight {

    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-bottom: 20px;
}

#search {
    height: 41.661537170410156px;
    width: 6em;
    left: 0;
    top: 0;
    border-radius: 8px;
    background: #316fc3;
    margin-right: 2%;
    margin-left: 1%;
}

#h3 {
    font-size: 1.5em;
    font-weight: 600;
}

/* Table qatori */

#table {
    padding: 0 2%;
}

.table-row tr {
    height: 6em;
}

.table-row td {
    padding-top: 2em;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}

.last-order {
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    margin-left: 4%;
    margin-top: 15px;
    padding-top: 6%;
}

.table {
    font-family: Inter, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 100%;
}

.status span {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.02em;
    border-radius: 30px;
    padding: 8px 14px;
    background-color: #fff5eb;
    color: #fb7e15;
}

.open span {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.02em;
    border-radius: 30px;
    padding: 8px 22px;
    background-color: #d9fbd6;
    color: #25ba00;
}

.from {
    color: rgba(21, 28, 40, 1);
    font-weight: 500;
}

/* Pagination */

#pagination-main {
    padding-right: 2%;
}

.next-page {
    margin-left: 4%;
}

.pagination-paragraph {
    width: 325px;
    height: 18px;
    right: 276px;
    bottom: 27px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #717484;
}

.number-8 {
    font-size: 14px;
}

.fa-angle-left {
    padding-left: 0;
}

/* Kuryer xizmati haqida */
#courier-service h2 {
    margin: 10% 0 3% 6%;
    font-style: normal;
    font-weight: 500;
    font-size: calc(23px + (50 - 30) * (100vw - 320px) / (1920 - 320));
    line-height: 44px;
    color: #1c1c1c;
    justify-content: left;
}

.service-paragraph {
    padding-top: 2%;
    margin: 0 0 7% 6%;
    max-width: 100%;
    width: 87%;
    height: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + (37 - 30) * (100vw - 320px) / (1920 - 320));
    line-height: 160%;
    color: #0d253e;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@media all and (max-width: 992px) {
    #main {
        display: flex;
        flex-direction: column-reverse;
    }

    .courier-paragraph {
        padding-top: 5%;
    }

    #main-image-batafsil {
        width: 100%;
    }

    .table td, .status span, .open span {
        font-size: 0.8em;
    }

    .table-row tr {
        height: 5rem;
    }
}

@media all and (max-width: 600px) {
    .table td {
        font-size: 8px;
    }

    .table-row tr {
        height: 2rem;
        line-height: 0.8rem;
    }

    #pagination-main span {
        font-size: 11px;
    }
}

</style>