<template>
    <!-- container -->
    <div class="container-fluid text-center">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 p-0">

                <!-- icon -->
                <div class="col-12 ">
                    <img alt="icon" class="m-4 w-25" src="../images/logo.png"/> <br>
                </div>
                <!-- icon -->

                <!-- input qismi -->
                <div class="container">
                    <div class="row">
                        <div class="registrationText mt-5 mb-2 mb-md-3 lh-1 fs-2">Ro'yxatdan o'tish</div>
                        <div class=" col-12 col-sm-6 pt-3">
                            <router-link
                                class="btn1 text-decoration-none py-2 w-100 h-100"
                                to="/sign-up-customer"
                                type="button">
                                Buyurtmachi sifatida
                            </router-link>
                        </div>
                        <div class="col-12 col-sm-6 pt-3 ">
                            <button
                                class="btn2 text-decoration-none py-2 w-100 h-100"
                                type="button">
                                Kuryer sifatida
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form @submit.prevent="signUp">
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder"></label>
                                    <input
                                        id="inputBorder"
                                        v-model="registration.givenName"
                                        class="form-control border-2"
                                        name="name"
                                        placeholder="Ism"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder1"></label>
                                    <input
                                        id="inputBorder1"
                                        v-model="registration.familyName"
                                        class="form-control border-2"
                                        name="surName"
                                        placeholder="Familiya"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2 ">
                                    <p id="texts" class="m-0">Rasm joylang</p>
                                    <label id="inputIcon" for="fileInput">
                                        <i v-if="isImage === true">
                                            <img
                                                :src="selectedImage"
                                                alt="image"
                                                class="h-100 w-100"/>
                                        </i>
                                        <font-awesome-icon v-else
                                                           id="iconPlus"
                                                           class="p-4"
                                                           icon="fa-solid fa-plus"/>

                                    </label>
                                    <input
                                        id="fileInput"
                                        accept="image/*"
                                        class="d-none "
                                        type="file"
                                        @change="selectImage($event)"
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder3"></label>
                                    <input
                                        id="inputBorder3"
                                        v-model="registration.phone"
                                        class="form-control border-2 "
                                        name="phoneNumber"
                                        placeholder="Telefon raqam"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder2"></label>
                                    <input
                                        id="inputBorder2"
                                        v-model="registration.email"
                                        class="form-control border-2 "
                                        name="email"
                                        placeholder="Email"
                                        type="email"
                                        @input="checkToEmail"
                                    >
                                    <small
                                        v-if="this.isWrongEmail"
                                        class="passwordText text-danger text-start">
                                        Email noto'g'ri kiritildi
                                    </small>
                                    <small v-if="!isEmail" id="passwordText " class="text-danger text-start">
                                        Kiritilgan email bazada bor!
                                    </small>
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder4"></label>
                                    <input
                                        id="inputBorder4"
                                        v-model="registration.password"
                                        autocomplete="on"
                                        class="form-control border-2 "
                                        name="password"
                                        placeholder="Parol"
                                        type="password"
                                    >
                                    <small v-if="isValid" id="passwordText " class="text-danger text-start">
                                        Kamida 7 ta belgidan iborat bo'lishi kerak
                                    </small>
                                </div>
                                <div class="d-grid mt-1">
                                    <label class="form-label" for="inputBorder5"></label>
                                    <input
                                        id="inputBorder5"
                                        v-model="registration.againPassword"
                                        autocomplete="on"
                                        class="form-control border-2"
                                        name="againPassword"
                                        placeholder="Parolni tasdiqlang"
                                        type="password"
                                    >
                                </div>
                                <div class="d-grid mt-5">
                                    <label class="form-label" for="inputBorder6"></label>
                                    <input
                                        id="inputBorder6"
                                        v-model="registration.type"
                                        class="form-control border-2"
                                        name="typeOfTransport"
                                        placeholder="Transport turi"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder7"></label>
                                    <input
                                        id="inputBorder7"
                                        v-model="registration.serialNumber"
                                        class="form-control border-2"
                                        name="transportSeriaNumber"
                                        placeholder="Transport seriya va raqami"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder8"></label>
                                    <input
                                        id="inputBorder8"
                                        v-model="registration.stateNumber"
                                        class="form-control border-2 "
                                        name="transportNumber"
                                        placeholder="Transport davlat raqami"
                                        type="text"
                                    >
                                </div>
                                <div class="d-grid mt-2 mb-2 ">
                                    <p id="texts1" class="m-0 mt-2">Transport rasmini joylang</p>
                                    <label id="inputIcon2" for="fileInput1">
                                        <i v-if="isImage2 === true">
                                            <img
                                                :src="selectedImage2"
                                                alt="image"
                                                class="w-100 h-100">
                                        </i>
                                        <font-awesome-icon v-else
                                                           id="iconPlus2"
                                                           class=" p-4"
                                                           icon="fa-solid fa-plus"/>
                                    </label>
                                    <input
                                        id="fileInput1"
                                        class="d-none "
                                        type="file"
                                        @change="selectImage2($event)"
                                    >
                                </div>
                                <div
                                    class="mb-4 mx-md-5 mx-0">
                                    Platformada ro'yxatdan o'tish orqali siz
                                    <a
                                        class="text-decoration-none"
                                        href="#">
                                        foydalanish shartlari</a>ga rozilik berasiz
                                </div>
                                <div class="d-grid ">
                                    <button class="buttonBottom text-white py-2 py-md-3 fs-4" type="submit">
                                        Ro'yxatdan o'tish
                                    </button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- input tugadi -->

            </div>
            <!-- pastki qism -->
            <div class="row justify-content-center px-sm-0">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 p-0">
                    <div class="textBottom col-12 pt-4 pt-sm-5 px-2 mb-4 mb-sm-5"> Akkauntingiz bormi
                    </div>
                    <div class="col-12 d-grid mb-4">
                        <router-link class="buttonBottom2 text-decoration-none py-2 py-md-3 mb-4 fs-3" to="/sign-in">
                            Kirish
                        </router-link>
                    </div>
                </div>
                <!-- pastki qism tugadi -->

                <!-- container tugadi -->
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
    name: "SignUpCourier",
    data() {
        return {
            isEmail: true,
            selectedImage: null,
            selectedImage2: null,
            imageFile: null,
            imageFile2: null,
            isValid: false,
            isImage: false,
            isImage2: false,
            isWrongEmail: false,

            registration: {
                givenName: null,
                familyName: '',
                image: '',
                phone: null,
                email: '',
                password: '',
                againPassword: '',
                type: '',
                serialNumber: '',
                stateNumber: '',
                carImage: '',
            }
        }
    },

    computed: {
        ...mapGetters(['getCreatedFile', 'getIsUniqueEmail'])
    },

    methods: {
        ...mapActions(['createCourier', "pushMediaObject", 'fetchToken', "isUniqueEmail"]),

        selectImage(event) {
            let data = event.target.files

            if (data.length > 0) {
                this.imageFile = data[0]
                this.selectedImage = URL.createObjectURL(data[0])
            }

            this.isImage = true
        },
        selectImage2(event) {
            let data = event.target.files

            if (data.length > 0) {
                this.imageFile2 = data[0]
                this.selectedImage2 = URL.createObjectURL(data[0])
            }

            this.isImage2 = true
        },

        checkToEmail() {
            let pattern = /^[a-z\d_]+[._a-z\d]+[^-.]@[^-.][a-z-\d]+\.[a-z]+$/
            this.isWrongEmail = !pattern.test(this.registration.email)
        },

        createImage() {
            if (this.imageFile !== null && this.imageFile2 !== null) {
                this.pushMediaObject(this.imageFile)
                    .then(() => {
                        if (this.registration.image !== null) {
                            this.registration.image = this.getCreatedFile['@id']
                        }

                        this.pushMediaObject(this.imageFile2)
                            .then(() => {
                                if (this.registration.carImage !== null) {
                                    this.registration.carImage = this.getCreatedFile['@id']
                                }

                                let data = {
                                    givenName: this.registration.givenName,
                                    familyName: this.registration.familyName,
                                    image: this.registration.image,
                                    phone: this.registration.phone,
                                    email: this.registration.email,
                                    password: this.registration.password,
                                    againPassword: this.registration.againPassword,
                                    type: this.registration.type,
                                    serialNumber: this.registration.serialNumber,
                                    stateNumber: this.registration.stateNumber,
                                    carImage: this.registration.carImage

                                }

                                if (this.registration.password === this.registration.againPassword) {
                                    this.createCourier(data)
                                        .then(() => {
                                            this.fetchToken({
                                                email: this.registration.email,
                                                password: this.registration.password
                                            })
                                                .then(() => {
                                                    this.$router.push('/')
                                                })
                                        })
                                }
                            })
                    })
            }
        },
        signUp() {
            this.isValid = false
            this.isImage = false
            this.isImage2 = false

            if (this.registration.password === this.registration.againPassword) {
                this.isUniqueEmail({email: this.registration.email})
                    .then(() => {
                        this.isEmail = this.getIsUniqueEmail.email

                        if (this.registration.givenName !== null && this.isEmail !== false) {
                            this.createImage()
                        }
                    })
            } else {
                this.isValid = true
            }
        },
    }
}
</script>

<style scoped>
img {
    background-repeat: no-repeat;
    background-position: top;
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}

#inputBorder, #inputBorder1, #inputBorder2, #inputBorder3, #inputBorder4, #inputBorder5, #inputBorder6, #inputBorder7, #inputBorder8 {
    border-radius: 11px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #9FA2A6F9;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
}

.btn2 {
    background-color: #5CB30B;
    color: white;
    font-family: Inter, sans-serif;
    border-radius: 10px;
    border: none;
}

.btn1 {
    background-color: white;
    border: 2px solid #C2C2C2;
    color: black;
    font-family: Inter, sans-serif;
    border-radius: 10px;

}

.btn1:hover {
    background-color: #5CB30B;
    color: white;
    border: 2px solid #5CB30B;
}

.buttonBottom {
    background-color: #5CB30B;
    border-radius: 11px;
    border: none;
    font-family: Inter, sans-serif;
    line-height: 22px;
}

.registrationText {
    font-family: Inter, sans-serif;
    line-height: 22px;
}

.textBottom {
    display: table;
    white-space: nowrap;
    color: #595959;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}

.textBottom:before,
.textBottom:after {
    border-top: 1px solid #595959;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 30%;

}

.textBottom:before {
    right: 1%;
}

.textBottom:after {
    left: 1%;
}

#inputIcon, #inputIcon2 {
    height: 230px;
    border-radius: 11px;
    border: 2px solid #ced4da;
    cursor: pointer;
}

#iconPlus, #iconPlus2 {
    border: #595959 2px;
    border-radius: 110px;
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.09);
    margin: 70px 0;
    height: 32px;
    opacity: 75%;
}


span {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0;
    color: #595959;

}

.buttonBottom2 {
    background-color: white;
    border: #5CB30B;
    color: #5CB30B;
    border: 2px solid;
    border-radius: 11px;
    font-family: Inter, sans-serif;
    line-height: 22px;

}

.buttonBottom2:hover {
    background-color: #5CB30B;
    color: white;
}

button:focus:not(:focus-visible) {
    border-color: #146c43;
    box-shadow: 0 0 0 0.25rem rgba(60,153,110,.5);
}

#texts, #texts1 {
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;

}

#passwordText {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
</style>