<template>
    <!-- container -->
    <div class="container-fluid text-center">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 p-0">

                <div class="col-12">
                    <img alt="icon" class="m-4 w-25" src="../images/logo.png"/> <br>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="registrationText lh-1 mt-5 mb-2 mb-md-3 fs-2 ">Ro'yxatdan o'tish</div>
                        <div class=" col-12 col-sm-6 pt-3">
                            <button
                                class="btn1 text-decoration-none py-2 w-100 h-100"
                                type="button">
                                Buyurtmachi
                                sifatida
                            </button>
                        </div>
                        <div class="col-12 col-sm-6 pt-3 ">
                            <router-link
                                class="btn text-decoration-none py-2 w-100 h-100 "
                                to="/sign-up-courier"
                                type="button">Kuryer
                                sifatida
                            </router-link>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form @submit.prevent="checkForm" class="needs-validation" novalidate>
                                <div class="d-grid mt-2 ">
                                    <label class="form-label" for="inputBorder"></label>
                                    <input
                                        id="inputBorder"
                                        v-model="givenName"
                                        class="form-control border-2"
                                        name="name"
                                        placeholder="Ism"
                                        type="text"
                                        required
                                    />
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder1"></label>
                                    <input
                                        id="inputBorder1"
                                        v-model="familyName"
                                        class="form-control border-2"
                                        name="surName"
                                        placeholder="Familiya"
                                        type="text"
                                        required
                                    >
                                </div>
                                <div class="d-grid mt-2">
                                    <label class="form-label" for="inputBorder3"></label>
                                    <input
                                        id="inputBorder3"
                                        v-model="phone"
                                        class="form-control border-2"
                                        name="phoneNumber"
                                        placeholder="Telefon raqam"
                                        type="text"
                                        required
                                    >
                                </div>
                                <div class="d-grid mt-2 ">
                                    <label class="form-label" for="inputBorder2"></label>
                                    <input
                                        id="inputBorder2"
                                        v-model="email"
                                        class="form-control border-2"
                                        name="email"
                                        placeholder="user@example.com"
                                        type="email"
                                        required
                                        @input="checkToEmail"                                    >
                                    <small
                                        v-if="this.isWrongEmail"
                                        class="passwordText text-danger">
                                        Email noto'g'ri kiritildi
                                    </small>
                                </div>
                                <div class="d-grid mt-2 ">
                                    <label class="form-label" for="inputBorder4"></label>
                                    <input
                                        id="inputBorder4"
                                        v-model="password"
                                        autocomplete="on"
                                        class="form-control border-2"
                                        name="password"
                                        placeholder="********"
                                        type="password"
                                        required
                                    >
                                    <small
                                        v-if="password.length<=6"
                                        class="passwordText text-danger">
                                        Parol kamida 7 ta belgidan iborat
                                        bo'lishi kerak
                                    </small>
                                </div>

                                <div class="d-grid mt-2 mb-3">
                                    <label class="form-label" for="inputBorder5"></label>
                                    <input
                                        id="inputBorder5"
                                        v-model="againPassword"
                                        autocomplete="on"
                                        class="form-control border-2"
                                        name="againPassword"
                                        placeholder="********"
                                        type="password"
                                        required
                                    >
                                    <small
                                        v-if="password!==againPassword"
                                        class="passwordText text-danger">
                                        Parollar mos kelmadi
                                    </small>
                                </div>
                                <p class="my-4">
                                    Platformada ro'yxatdan o'tish orqali siz
                                    <a
                                        class="text-decoration-none" href="#">foydalanish shartlari
                                    </a>
                                    ga rozilik berasiz
                                </p>

                                <div class="col-12 d-grid ">
                                    <button class="button text-white py-2 py-md-3 fs-4" @click="signUp" type="submit">
                                        Ro'yxatdan o'tish
                                    </button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center px-1 px-sm-0">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 p-0">
                <div class="textBottom col-12 pt-4 pt-sm-5 px-2 mb-4 mb-sm-5"> Akkauntingiz bormi
                </div>
                <div class="col-12 d-grid mb-4">
                    <router-link class="buttonBottom2 text-decoration-none py-2 py-md-3 mb-4 fs-3" to="/sign-in">
                        Kirish
                    </router-link>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import {mapActions} from "vuex";
import {} from "mdb-vue-ui-kit";
import {ref} from "vue";

export default {
    name: "SignUpCustomer",
        data() {
            return {
                isWrongEmail: false
            }
        },

    setup() {
        const checkForm = e => {
            e.target.classList.add("was-validated");
        };

        const givenName = ref("");
        const familyName = ref("");
        const phone = ref("+998");
        const email = ref("");
        const password = ref("");
        const againPassword = ref("");

        return {
            givenName,
            familyName,
            phone,
            email,
            password,
            againPassword,
            checkForm,
        }
    },
    methods: {
        ...mapActions(['createCustomer', 'fetchToken']),
        checkToEmail() {
            let pattern = /^[a-z\d_]+[._a-z\d]+[^-.]@[^-.][a-z-\d]+\.[a-z]+$/
            this.isWrongEmail = !pattern.test(this.email)
        },
        signUp() {
            this.isValid = false

            let data = {
                email: this.email,
                password: this.password,
                givenName: this.givenName,
                familyName: this.familyName,
                phone: this.phone
            }
            if (this.password === this.againPassword) {

                this.createCustomer(data)
                    .then(() => {
                        this.fetchToken({
                            email: this.email,
                            password: this.password
                        })
                            .then(() => {
                                this.$router.push('/')
                            })
                    })
            } else {
                this.isValid = true
            }
        }
    },
    watch: {
        phone() {
            if (this.phone.length !== 13) {
                document.getElementById("inputBorder3").style.borderColor = "red";
            } else {
                document.getElementById("inputBorder3").style.borderColor = "green";
            }
        },
        password() {
            if (this.password.length < 7) {
                document.getElementById("inputBorder4").style.borderColor = "red";
            } else {
                document.getElementById("inputBorder4").style.borderColor = "green";
            }
        },
        againPassword() {
            if (this.password === this.againPassword) {
                document.getElementById("inputBorder5").style.borderColor = "green";
            } else if (this.password !== this.againPassword) {
                document.getElementById("inputBorder5").style.borderColor = "red";
            }
        }

    }
}
</script>

<style scoped>
img {
    background-repeat: no-repeat;
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}

#inputBorder, #inputBorder1, #inputBorder2, #inputBorder3, #inputBorder4, #inputBorder5 {
    border-radius: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #9FA2A6F9;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
}

.btn1 {
    background-color: #5CB30B;
    color: white;
    font-family: Inter, sans-serif;
    border-radius: 10px;
    border: none;
}

.btn {
    background-color: white;
    border: 2px solid #C2C2C2;
    color: black;
    font-family: Inter, sans-serif;
    line-height: 22px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #5CB30B;
    color: white;
    border: 2px solid #5CB30B;
}

.button {
    background-color: #5CB30B;
    border-radius: 11px;
    border: none;
    font-family: Inter, sans-serif;
    line-height: 22px;
    text-align: center;
}

button:focus:not(:focus-visible) {
    border-color: #146c43;
    box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, .5);
}

p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

.registrationText {
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 500;

}

.textBottom {
    display: table;
    white-space: nowrap;
    color: #595959;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;

}

.textBottom:before,
.textBottom:after {
    border-top: 1px solid #595959;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 30%;

}

.textBottom:before {
    right: 1%;
}

.textBottom:after {
    left: 1%;
}


.buttonBottom2 {
    background-color: white;
    border: #5CB30B;
    color: #5CB30B;
    border: 2px solid;
    border-radius: 11px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
}

.buttonBottom2:hover {
    background-color: #5CB30B;
    color: white;
}

.passwordText {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}
</style>
