<template>
    <div class="row jadval mb-5 mx-2 mx-md-5 px-lg-5">
        <div v-if="isChange" class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <form>
                    <h2 class="mb-3 mt-3 mb-sm-4 fs-2">Change Courier</h2>

                    <label class="form-label">Given Name</label>
                    <input v-model="courier.givenName" type="text" class="form-control mb-3">

                    <label class="form-label">Family Name</label>
                    <input v-model="courier.familyName" type="text" class="form-control mb-3">

                    <label class="form-label">Phone</label>
                    <input v-model="courier.phone" type="text" class="form-control mb-3">

                    <div class=" mt-2 mb-2 ">
                        <p id="texts" class="m-0 mt-2 pb-3">Transport rasmini joylang</p>
                        <label id="inputIcon" for="fileInput">
                            <i v-if="isImage === true">
                                <img
                                        :src="selectedImage"
                                        alt="image"
                                        class="w-100 h-100">
                            </i>
                            <font-awesome-icon v-else
                                               id="iconPlus"
                                               class="p-4"
                                               icon="fa-solid fa-plus"/>
                        </label>
                        <input
                                id="fileInput"
                                class="d-none "
                                type="file"
                                @change="selectImage($event)"
                        >
                    </div>


                    <button @click="change" type="button" class="mt-4 btn btn-success">Change</button>
                </form>
            </div>
        </div>
        <div class="col p-0 mx-lg-5">
            <h4 class="text-center mt-5 pb-2">Kuryerlar</h4>
            <div class="table-kuryer">
                <!--Users table boshlandi-->
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col-12"></th>
                        <th scope="col-12">Ism familiyasi</th>
                        <th scope="col-12">Transport</th>
                        <th scope="col-12">Reyting</th>
                        <th scope="col-12">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--User qatori boshlandi-->
                    <tr
                            v-for="courier in getCouriers"
                            :key="courier.id"
                            class="greenRow"
                    >
                        <th scope="row" class="pt-3 px-0"><img src="../../images/Ellipse.png" alt="user"></th>
                        <td class="pt-3 pt-sm-4 p-0">{{ courier.givenName }} {{ courier.familyName }}</td>
                        <td class="pt-3 pt-sm-4 p-0">{{ courier.transport.type }}</td>
                        <td class="pt-3 pt-sm-4 p-0">Toshkent</td>
                        <td class="table-status pt-3 pt-sm-4 p-0">{{ courier.status }}</td>
                        <td>
                            <span @click="isChange = true; courierId = courier.id" class="table-item">Change</span>
                        </td>
                        <td>
                            <span @click="remove(courier.id)" class="table-item2">Delete</span>
                        </td>
                    </tr>
                    <!--User qatori tugadi-->

                    </tbody>
                </table>
                <!--Users table tugadi-->

                <div class="row mt-md-3">
                    <div class="col kuryer-link d-flex justify-content-end">
                        <router-link to="/courier"
                                     class="my-3 my-sm-4 mx-4 mx-sm-5 fs-5 fw-bolder text-decoration-none">Ko'proq...
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "EditCourier",
    data() {
        return {
            courierId: null,
            isImage: '',
            selectedImage: '',
            isChange: false,
            courier: {
                givenName: '',
                familyName: '',
                phone: '',
                image: '',
            }
        }
    },
    methods: {
        ...mapActions(['fetchCouriers', "putCourier", "deleteCourier", "pushMediaObject"]),
        remove(id) {
            this.deleteCourier(id)
                .then(() => {
                    this.fetchCouriers()
                })
        },
        selectImage(event) {
            let data = event.target.files

            if (data.length > 0) {
                this.imageFile = data[0]
                this.selectedImage = URL.createObjectURL(data[0])
            }
            this.isImage = true
        },
        change() {
            this.pushMediaObject(this.imageFile)
                .then(() => {
                    console.log('Image created')

                    this.courier.image = this.getCreatedFile['@id']


                })
                .then(() => {
                    this.putCourier({
                        id: this.courierId,
                        givenName: this.courier.givenName,
                        familyName: this.courier.familyName,
                        phone: this.courier.phone,
                        image: this.courier.image
                    })
                })
                .then(() => {
                    location.reload()
                })

        },
    },

    computed: {
        ...mapGetters(['getCouriers', 'getCreatedFile'])
    },
    mounted() {
        this.fetchCouriers()
            .then(() => {
                console.log('this getter', this.getCouriers)
            })
    },


}
</script>

<style scoped>

#inputIcon {
    height: 230px;
    border-radius: 11px;
    border: 2px solid #ced4da;
    cursor: pointer;
}

#iconPlus {
    border: #595959 2px;
    border-radius: 110px;
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.09);
    margin: 70px 110px;
    height: 32px;
    opacity: 75%;
}

#texts {
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;

}

.table-item {
    cursor: pointer;
    color: green;
}

.table-item2 {
    cursor: pointer;
    color: red;
}

.table-kuryer {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 25px rgb(229, 227, 227);
    border-radius: 15px;
    border: none;
}

.table-kuryer tr {
    height: 5em;
}

.table-borderless {
    width: 90%;
    margin: 0 auto;
}

.jadval h3 {
    margin: 60px 0 20px;
    text-align: center;
}

.table-kuryer thead th {
    padding-bottom: 30px;
}

.table-kuryer th, td {
    text-align: center;
}

.table-kuryer .greenRow {
    background-color: rgb(241, 252, 231);
    border-radius: 40px;
}

.table-status {
    color: #25BA00;
}

.table-status2 {
    color: #FC2B38;
}

.kuryer-link a {
    color: #316FC3;
}

.table-kuryer td:first-child,
.table-kuryer th:first-child {
    border-radius: 24px 0 0 24px;
}

.table-kuryer td:last-child,
.table-kuryer th:last-child {
    border-radius: 0 24px 24px 0;
}

@media all and (max-width: 710px) {
    .table th, td {
        font-size: 12px;
    }

    .table-kuryer tr {
        height: 4rem;
    }
}

@media all and (max-width: 500px) {
    .table-kuryer thead th {
        padding-bottom: 10px;
    }

    .table th, td {
        font-size: 10px;
    }

    .table tr {
        height: 2rem;
    }

    tbody img {
        height: 35px;
        width: 35px;
        padding: 0 0 10px 10px;
    }
}

</style>