<template>
    <div class="row bg-light">
        <div class="col p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@/images/7498.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption p-0 d-none d-md-block justify-content-end">
                            <h1>{{$t ('Load?') }}</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequatur similique explicabo tempore delectus nesciunt autem.</p>
                            <router-link class="btn pt-1" to="/order">{{ $t('PlaceAnOrder') }}</router-link>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="@/images/new12.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{$t ('Load?') }}</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequatur similique explicabo tempore delectus nesciunt autem.</p>
                            <router-link class="btn pt-1" to="/order">{{ $t('PlaceAnOrder') }}</router-link>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="@/images/onlineKuryer.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{$t ('Load?') }}</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequatur similique explicabo tempore delectus nesciunt autem.</p>
                            <router-link class="btn pt-1" to="/order">{{ $t('PlaceAnOrder') }}</router-link>
                        </div>
                    </div>
                </div>
                    
                <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>

    <div class="row d-block d-md-none pt-2 m-3 m-sm-4">
        <div class="col registrationButton">
            <h1>{{$t ('Courier?') }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequatur similique explicabo tempore delectus nesciunt autem.</p>
            <router-link class="btn pt-1" to="/sign-in">{{ $t('SignUp') }}</router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: "CaruselMain"
}

</script>

<style scoped>
.carousel-item {
    height: auto;
    position: relative;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
}

.carousel-item .carousel-caption {
    width: 30%;
    position: absolute;
    top: 12rem;
    color: #000;
    text-align: left;
    margin-left: 48%;
}

.carousel-caption .btn {
    width: 150px;
    height: 35px;
    background-color: #5CB30B;
    color: #fff;
    padding: 0;
    border-radius: 10px;
}

.carousel-caption .btn:hover {
    border: 1px solid #5CB30B;
    color: #5CB30B;
    background-color: #fff;
    color: #5CB30B;
}

.registrationButton .btn {
    width: 150px;
    height: 35px;
    background-color: #5CB30B;
    color: #fff;
    padding: 0;
    border-radius: 10px;
}

@media all and (max-width: 900px) {
    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

</style>