<template>
    <div class="row" id="footer">
        <div class="col">
            <div class="row mb-5">
                <div class="col">
                    <div class="greenBox mx-2 mx-md-4 ">
                        <div class="row mx-2 mx-md-3 mx-xl-5">
                            <div class="col-12 left col-md-6  mt-lg-5 text-center text-sm-start">
                                <h4>{{ $t('CourierOrLoad') }}</h4>
                                <p>{{ $t('GoSubmit') }}</p>
                            </div>

                            <div
                                class="col-12 right col-md-6 mt-sm-3 mt-md-5 justify-content-center justify-content-sm-end">
                                <button class="btn white m-2" type="submit">
                                    <router-link to="/sign-in" class="btn p-0">
                                        {{ $t('Login') }}
                                    </router-link>
                                </button>
                                <div>
                                    <div class="vr mt-2"></div>
                                </div>
                                <button class="btn white m-2" type="submit">
                                    <router-link to="/sign-up-customer" class="btn p-0">
                                        {{ $t('SignUp') }}
                                    </router-link>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-2 px-sm-4">
                <div class="col">
                    <footer class="py-5">
                        <div class="row justify-content-md-between ps-4 ps-lg-5">
                            <div class="col-6 col-sm-4 col-md-3 mb-4">
                                <p class="mb-0">{{ $t('WhatWeDo') }}</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item my-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Ipsum</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Ipsum</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Ipsum</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Ipsum</router-link>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6 col-sm-4 col-md-2 mb-4 pe-5 text-center text-sm-start">
                                <p class="mb-0">{{ $t('About') }}</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item my-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Home</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Featur</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Pricin</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">FAQs</router-link>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6 col-sm-4 col-md-2 mb-4 pe-5">
                                <p class="mb-0">{{ $t('Contacts') }}</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item my-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Home</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Ipsum</router-link>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6 col-sm-4 col-md-2 mb-4 text-center text-sm-start pe-5 pe-sm-0">
                                <p class="mb-0">{{ $t('More') }}</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item my-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Blog</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">Report</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">News L</router-link>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <router-link to="/" class="nav-link p-0 text-dark">About</router-link>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 col-sm-4 icon col-md-2 mb-4">
                                <p>{{ $t('Socials') }}</p>
                                <ul class="nav flex-column">
                                    <li class="mb-2">
                                        <router-link class="icon-text text-dark" to="/">
                                            <font-awesome-icon icon="fa-brands fa-line"/>
                                            Line
                                        </router-link>
                                    </li>
                                    <li class="mb-2">
                                        <router-link class="icon-text text-dark" to="/">
                                            <font-awesome-icon icon="fa-brands fa-square-instagram"/>
                                            Instagram
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link class="icon-text text-dark" to="/">
                                            <font-awesome-icon icon="fa-brands fa-twitter"/>
                                            Twitter
                                        </router-link>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

            <div class="row ">
                <div class="col bottom m-5">
                    <p>© 2022 Company, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FooTer",
    data() {
        return {
            lang: ''
        }
    },
    methods: {
        changeLang() {
            this.$i18n.locale = this.lang
        },
        logOut() {
            localStorage.removeItem('token')
            location.reload()
        }
    }
}
</script>

<style scoped>
#footer {
    background-color: #F7F7FA;
}

.greenBox {
    height: 168px;
    border-radius: 11px;
    box-sizing: border-box;
    background-image: url("../images/bgFooter.png");
    background-size: cover;
}

.greenBox .right {
    display: flex;
    justify-content: flex-end;
}

.btn, .white .btn {
    text-decoration: none;
    color: #013d6a;
}

.vr {
    height: 50px;
    color: #fff
}

.white {
    width: 140px;
    height: 50px;
    background-color: #fff;
    color: #003156;
    border-radius: 6px;
}

.white:hover {
    background-color: #5CB30B;
    color: #fff;
}

footer p {
    font-weight: 600;
}

footer a {
    font-weight: 300;
    font-size: 16px;
}

.left h4 {
    color: #fff;
    font-size: 1.7em;
    font-weight: 600;
}

.left p {
    color: #fff;
    font-weight: 300;
}

.bottom {
    display: flex;
    justify-content: center;
}

.fa-line {
    color: #16c00d;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.fa-square-instagram {
    color: rgb(197, 12, 89);
    font-size: 1.8rem;
    margin-right: 1rem;
}

.fa-twitter {
    color: rgb(24, 179, 236);
    font-size: 1.8rem;
    margin-right: 1rem;
}

.icon-text {
    text-decoration: none;
    font-weight: 400;
}

@media all and (max-width: 991px) {
    .left h4 {
        font-size: 1.6em;
    }

    .left {
        margin-top: 50px;
    }

    .white {
        width: 110px;
    }
}

@media all and (max-width: 896px) {
    .left {
        margin-top: 24px;
    }
}

@media all and (max-width: 767px) {
    .greenBox {
        height: 200px;
    }

    .left h4 {
        font-size: 1.5em;
    }

    .white {
        width: 100px;
        height: 50px;
    }

    .vr {
        height: 50px;
    }
}

@media all and (max-width: 500px) {
    .white {
        width: 100px;
        height: 40px;
    }

    .vr {
        height: 40px;
    }

    .greenBox .right {
        justify-content: center;
        margin-top: 40px;

    }

    .left h4 {
        font-size: 1.2em;
    }
}

@media all and  (max-width: 490px) {
    .greenBox {
        height: 290px;
    }

    .greenBox .right {
        margin-top: 60px;
    }
}
</style>
