<template>
    <div class="row top ps-lg-4 py-2 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light px-3">
            <div class="container-fluid px-1 px-md-2">
                <router-link to="/"><img alt="Logo" class="logo p-2 p-sm-0" src="../images/logo.png"></router-link>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler " data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto me-0 mb-2 mt-3 mt-lg-0 mb-lg-0">
                        <li class="nav-item mx-0 mx-lg-2 px-lg-2 mt-1">
                            <router-link class="nav-link" to="/">{{ $t('Home') }}</router-link>
                        </li>
                        <li class="nav-item dropdown pt-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ $t('Order') }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <router-link class="dropdown-item" to="/orders-page">{{
                                            $t('OrdersPage')
                                        }}
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="dropdown-item" to="/order">{{
                                            $t('create order')
                                        }}
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="dropdown-item" to="/edit-order">{{
                                            $t('edit order')
                                        }}
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown pt-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ $t('Driver') }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <router-link class="dropdown-item" to="/courier">{{
                                            $t('courier page')
                                        }}
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="dropdown-item" to="/edit-courier">{{
                                            $t('edit courier')
                                        }}
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <!--                        <li class="nav-item mx-lg-2 px-lg-2 mb-2 mb-lg-2 me-5 mt-1">-->
                        <!--                            <router-link class="nav-link" to="/orders-page">{{ $t('OrdersPage') }}</router-link>-->
                        <!--                        </li>-->
                        <li>
                            <select @click="changeLang" v-model="lang" class="form-select bor ms-lg-4 "
                                    aria-label="Default select example">
                                <option value="uz">Uz</option>
                                <option value="ru">Рус</option>
                                <option value="en">En</option>
                            </select>
                        </li>
                        <li class="nav-item dropdown pt-2 pt-md-1 ms-1 ms-lg-3 ">
                            <a class="nav-link p-0"
                               id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="../images/user.png" id="userImage">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li class="my-2">
                                    <router-link
                                        class="dropdown-item"
                                        to="/edit-customer">
                                        <font-awesome-icon
                                            class="me-2"
                                            icon="fa-solid fa-user-pen"
                                            fade
                                            size="1x"
                                            style="color: #000000;"/>
                                        {{ $t('edit profile') }}
                                    </router-link>
                                </li>
                                <li class="mb-2">
                                    <router-link
                                        class="dropdown-item"
                                        to="/sign-in">
                                        <font-awesome-icon
                                            class="me-3"
                                            icon="fa-solid fa-right-from-bracket"
                                            shake
                                            style="color: #000000;"/>
                                        {{ $t('Login') }}
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: "HeaderRow",
    data() {
        return {
            lang: ''
        }
    },
    methods: {
        changeLang() {
            this.$i18n.locale = this.lang
        },
        logOut() {
            localStorage.removeItem('token')
            location.reload()
        }
    }
}
</script>

<style scoped>
.bor {
    border-radius: 10px;
    border: #5CB30B solid 2px;
}

#userImage {
    width: 36px;
    height: 36px;
}

.form-select {
    margin-top: 2px;
    width: 65px;
    padding: 0.30rem 1.25rem 0.375rem 0.75rem;
    background-position: right 4px center;
}

.navbar-light .navbar-toggler {
    color: #5CB30B;
    border-color: #5CB30B;
}

.top {
    background-color: #fff;
    box-shadow: 0 1px 10px 0 #f5f5f5;
}

.logo {
    width: 90px;
    height: 50px;
}

.collapse li {
    line-height: 19px;
    box-sizing: border-box;
}

.navbar li a {
    color: #595959;
    font-size: 16px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #5CB30B;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: #5CB30B;
    color: #fff;
    border-radius: 10px;
}

.btn:hover {
    border: 2px solid #5CB30B;
    color: #5CB30B;
    background-color: white;
}

.dropdown-menu[data-bs-popper] {
    top: 50px;
    left: auto;
    right: 0;
}

.dropdown-menu.show {
    display: inline-block;
    border-radius: 20px 0 20px 20px;
    border-color: #5cb30b;
    margin-right: 25px;
    margin-top: -8px;
    box-shadow: 5px 10px 10px rgb(229, 227, 227);
}

@media all and (max-width: 991px) {
    .dropdown-menu.show {
        border-radius: 0 20px 20px 20px;
        border-color: #5cb30b;
        margin-top: 0;
        margin-left: 28px;
    }
}

</style>