<template>
    <div class="row jadval mx-md-4 mx-lg-5 px-lg-5">
        <div class="col mx-3 mx-lg-5 platformada">
            <h2>Bizning platformada</h2>
            <p class="mt-3 fs-5 lh-sm">Lorem, repellat ut sed ipsum amet, natus perferendis debitis at sequi error quo repellendus eaque dolorum quas facere iure. <br /> Soluta ipsum adipisci laborum minima quo, dolores ut aliquam, nemo possimus quaerat harum.</p>

            <div class="row my-md-5">
                <div class="col col-12 col-md-6 transport">
                    <div class="row">
                        <img src="@/images/CarPhoto.png" alt="kuryer rasmi">
                    </div>

                    <!--Transport qatori boshlandi-->
                    <div class="row mt-3 mt-md-4">
                        <div class="col col-2">
                            <span>01</span>
                        </div>
                        <div class="col col-10">
                            <h4>Velosiped</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eveniet, autem temporibus tempore voluptates ab!</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->

                    <!--Transport qatori boshlandi-->
                    <div class="row mt-4">
                        <div class="col col-2">
                            <span>02</span>
                        </div>
                        <div class="col col-10">
                            <h4>Mototsikl</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eveniet, autem temporibus tempore voluptates ab!</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->
                </div>


                <div class="col col-12 col-md-6 transport2 mt-md-5 pt-md-5 ps-md-3">
                    <!--Transport qatori boshlandi-->
                    <div class="row mt-4 mt-sm-4 mt-md-5 pt-lg-2">
                        <div class="col col-2">
                            <span>03</span>
                        </div>
                        <div class="col col-10">
                            <h4>Yengil avtomobil</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eveniet, autem temporibus tempore voluptates ab!</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->

                    <!--Transport qatori boshlandi-->
                    <div class="row mt-4 mt-lg-5 pt-lg-2">
                        <div class="col col-2">
                            <span>04</span>
                        </div>
                        <div class="col col-10">
                            <h4>VAN</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eveniet, autem temporibus tempore voluptates ab!</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->

                    <!--Transport qatori boshlandi-->
                    <div class="row mt-4 mt-lg-5 pt-lg-2">
                        <div class="col col-2">
                            <span>05</span>
                        </div>
                        <div class="col col-10">
                            <h4>Yuk avtomobili</h4>
                            <p>Lorem ipsum dolor, amet consectetur adipisicing elit. Impedit eveniet, autem temporibus tempore voluptates ab!</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "InPlatform"
}

</script>

<style scoped>
.platformada {
    color: #595959;
    font-size: 20px;
}

.platformada h4 {
    color: #000;
    text-align: start;
    font-weight: 600;
}

.platformada p {
    font-weight: 300;
}

.platformada span {
    background-color: #25BA00;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: start;
    font-weight: 600;
}

.transport p, .transport2 p {
    font-size: 18px;
}

</style>