<template>
    <div class="row jadval my-5 pb-5 mx-md-4 mx-lg-5 px-lg-5">
        <div class="col kuryerlarimiz mx-lg-5 p-0">
            <div class="row ms-2">
                <div class="col">
                    <h2>Kuryerlarimiz...</h2>
                </div>
            </div>    

            <div class="row">
                <div class="col col-12 col-md-6 ">
                        <!--Transport qatori boshlandi-->
                        <div class="row ms-1 mt-4 md-py-2">
                            <div class="col col-2">
                                <div class="marked"></div>
                            </div>
                            <div class="col col-10">
                                <h4>Ishonchli</h4>
                                <p class="mt-2 mt-md-3 fs-5 fw-light lh-sm">Havo yo'llaro orqalik tez va xavfsiz yetkazib berish</p>
                            </div>
                        </div>    
                        <!--Transport qatori tugadi-->

                        <!--Transport qatori boshlandi-->
                        <div class="row ms-1 mt-4 mt-md-5 md-py-2">
                            <div class="col col-2">
                                <div class="marked"></div>
                            </div>
                            <div class="col col-10">
                                <h4>Samarali</h4>
                                <p class="mt-2 mt-md-3 fs-5 fw-light lh-sm">Dengiz va okeanda kemalar orqalik yetkazib berish</p>
                            </div>
                        </div>
                        <!--Transport qatori tugadi-->

                        <!--Transport qatori boshlandi-->
                        <div class="row ms-1 mt-4 mt-md-5 md-py-2">
                            <div class="col col-2">
                                <div class="marked"></div>
                            </div>
                            <div class="col col-10">
                                <h4>Ishiga talabchan</h4>
                                <p class="mt-2 mt-md-3 fs-5 fw-light lh-sm">Quruqlikda xar hil transportlarda yetkazib berish</p>
                            </div>
                        </div>
                        <!--Transport qatori tugadi-->
                    
                </div>

                <div class="col col-12 col-md-6">
                    <!--Transport qatori boshlandi-->
                    <div class="row ms-1 mt-4 md-ms-0 md-mt-0 md-m-5 md-py-2">
                        <div class="col col-2">
                            <div class="marked"></div>
                        </div>
                        <div class="col col-10">
                            <h4>Tezkor</h4>
                            <p class="mt-2 mt-md-3 fs-5 fw-light lh-sm">Transportlar 24/7 tezkor harakat qilishadi</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->

                    <!--Transport qatori boshlandi-->
                    <div class="row ms-1 mt-4 mt-md-5 md-ms-0 md-mt-0 md-m-5 md-py-2">
                        <div class="col col-2">
                            <div class="marked"></div>
                        </div>
                        <div class="col col-10">
                            <h4>Har qanday joyga</h4>
                            <p class="mt-2 mt-md-3 fs-5 fw-light lh-sm">Butun O'zbekiston bo'ylab yetkazib berish</p>
                        </div>
                    </div>
                    <!--Transport qatori tugadi-->
                </div>
            </div>

        </div>        
    </div>
</template>

<script>
export default {
    name: "OurCouriers"
}

</script>

<style scoped>
.kuryerlarimiz {
    color: #595959;
    font-size: 20px;
}

.kuryerlarimiz h4 {
    color: #000;
    text-align: start;
    font-size: 1.3em;
    font-weight: 600;
}

.kuryerlarimiz .marked {
    background-color: #F9F7F7;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: start;
    font-weight: 600;
}

</style>