<template>
    <div class="row jadval mb-5 mx-2 mx-md-5 px-lg-5">
            <div class="col p-0 mx-lg-5">
                <h4 class="text-center mt-5 pb-2">Kuryerlar</h4>
                <div class="table-kuryer">
                    <!--Users table boshlandi-->
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col-12"></th>
                                <th scope="col-12">Ism familiyasi</th>
                                <th scope="col-12">Transport</th>
                                <th scope="col-12">Reyting</th>
                                <th scope="col-12">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--User qatori boshlandi-->
                            <tr
                                v-for="courier in getCouriers"
                                :key="courier.id"
                                class="greenRow"
                            >
                                <th scope="row" class="pt-3 px-0"><img src="@/images/Ellipse.png" alt="user"></th>
                                <td class="pt-3 pt-sm-4 p-0">{{ courier.givenName }} {{courier.familyName}}</td>
                                <td class="pt-3 pt-sm-4 p-0">{{courier.transport.type}}</td>
                                <td class="pt-3 pt-sm-4 p-0">Toshkent</td>
                                <td class="table-status pt-3 pt-sm-4 p-0">Bo'sh</td>
                            </tr>
                            <!--User qatori tugadi-->

                        </tbody>
                    </table>
                    <!--Users table tugadi-->

                    <div class="row mt-md-3">
                        <div class="col kuryer-link d-flex justify-content-end">
                            <router-link to="/courier" class="my-3 my-sm-4 mx-4 mx-sm-5 fs-5 fw-bolder text-decoration-none">Ko'proq...</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "TableCourier",
    computed: {
        ...mapGetters(['getCouriers'])
    },
    methods: {
        ...mapActions(['fetchCouriers'])
    },
    mounted() {
        this.fetchCouriers()
            .then(() => {
                console.log('this getter', this.getCouriers)
            })
    }
}
</script>

<style scoped>
.table-kuryer {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 25px rgb(229, 227, 227);
    border-radius: 15px;
    border: none;
}

.table-kuryer tr {
    height: 5em;
}

.table-borderless {
    width: 90%;
    margin: 0 auto;
}

.jadval h3 {
    margin: 60px 0 20px;
    text-align: center;
}

.table-kuryer thead th {
    padding-bottom: 30px;
}

.table-kuryer th, td {
    text-align: center;
}

.table-kuryer .greenRow {
    background-color: rgb(241, 252, 231);
    border-radius: 40px;
}

.table-status {
    color: #25BA00;
}

.table-status2 {
    color: #FC2B38;
}

.kuryer-link a {
    color: #316FC3;
}

.table-kuryer td:first-child,
.table-kuryer th:first-child {
    border-radius: 24px 0 0 24px;
}

.table-kuryer td:last-child,
.table-kuryer th:last-child {
   border-radius: 0 24px 24px 0;
}

@media all and (max-width: 710px) {
    .table th, td {
        font-size: 12px;
    }

    .table-kuryer tr {
        height: 4rem;
    }
}

@media all and (max-width: 500px) {
    .table-kuryer thead th {
        padding-bottom: 10px;
    }

    .table th, td {
        font-size: 10px;
    }

    .table tr {
        height: 2rem;
    }

    tbody img {
        height: 35px;
        width: 35px;
        padding: 0 0 10px 10px;
    }
}

</style>