<template>
    <div class="row jadval mb-5 mb-sm-3 mx-3 mx-md-5 px-lg-5">
        <div class="col p-0 mx-lg-5">
            <h4 class="text-center mb-0">Buyurtmalar</h4>
            <div class="table-buyurtmalar w-100">
                <table class="table w-100">
                    <thead>
                       <tr>
                            <th scope="col-12">Qayerdan?</th>
                            <th scope="col-12">Qayerga?</th>
                            <th scope="col-12">Yuk turi</th>
                            <th scope="col-12">Xolat</th>
                            <th scope="col-12">Joylangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Buyurtma qatori boshlandi-->
                        <tr
                            v-for="order in getOrders"
                            :key="order.id"
                            class="active-row">

                            <td class="pt-2 pt-sm-5">{{ order.whereFrom }}</td>
                            <td class="pt-2 pt-sm-5">{{ order.whereTo }}</td>
                            <td class="pt-2 pt-sm-5">{{ order.cargoType }}</td>
                            <td class="holat pt-2 pt-sm-5"><span>{{ order.status }}</span></td>
                            <td class="pt-2 pt-sm-5">Toshkent</td>
                        </tr>
                        <!--Buyurtma qatori tuagdi-->

                    </tbody>
                </table>

                <div class="row mt-md-3">
                    <div class="col kuryer-link">
                        <router-link to="orders-page" class="my-sm-4 fs-5 fw-bolder text-decoration-none">Ko'proq...</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "TableOrder",
    computed: {
        ...mapGetters(['getOrders'])
    },
    methods: {
        ...mapActions(['fetchOrders'])
    },
    mounted() {
        this.fetchOrders()
            .then(() => {
                console.log('this getter', this.getOrders)
            })
    },
}

</script>

<style scoped>
.table-buyurtmalar {
    border-radius: 15px;
}

.table-buyurtmalar thead th {
    padding-bottom: 30px;
}

.table-buyurtmalar th, td {
    text-align: center;
    color: #1a202b;
}

.table-buyurtmalar tr {
    height: 7.2em;
    justify-content: center;
    align-items: center;
}

.table-buyurtmalar tbody tr.active-row {
    background-color: rgba(71, 121, 204, 0.03);
}

.table-buyurtmalar .holat span {
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #D9FBD6;
    color: #25BA00;
}

.table-buyurtmalar .holat2 span {
    border-radius: 30px;
    padding: 10px 45px;
    background-color: #FFF5EB;
    color: #FB7E15;
}

.kuryer-link {
    display: flex;
    justify-content: flex-end;
}

.kuryer-link a {
    color: #316FC3;
}

@media all and (max-width:500px) {
    .table-buyurtmalar .table {
        width: 200px;
    }

    .table-buyurtmalar thead th {
        padding: 10px 5px;
        font-size: 8px;
    }

    .table-buyurtmalar tbody td {
        padding: 0;
        font-size: 8px;

    }

    .table-buyurtmalar tr {
        height: 2em;   
    }

    .table-buyurtmalar .holat span {
        padding: 5px 10px;
        margin: 0 5px;
    }

    .table-buyurtmalar .holat2 span {
        padding: 5px 22px;
    }
}

</style>