<template>
    <component :is="$route.meta.layout === undefined ? 'BasicLayout' : $route.meta.layout"/>
</template>

<script>
import DefaultLayout from '@/layout/DefaultLayout.vue';
import BasicLayout from '@/layout/BasicLayout.vue';

export default {
    name: 'App',
    components: {
        DefaultLayout,
        BasicLayout,
    }
}
</script>

<style>

</style>
