<template>
    <div class="container-fluid">
        <HeaderRow/>
        
        <router-view/>
        
        <FooTer/>
    </div> 
</template>

<script>
import HeaderRow from "@/components/HeaderRow";
import FooTer from "@/components/FooTer.vue";

export default {
    name: "BasicLayout",
    components: {FooTer, HeaderRow}
}

</script>

<style scoped>

</style>